@page
@{
    Layout = null;
}

<head>
    <title>Music Site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <div class="container">
        <div class="main">
            <header class="header">
                <div class="nav">
                    <div class="nav1">
                        <ul class="menu">
                            <li>
                                <a href="#">Новости</a>
                            </li>
                            <li>
                                <a href="#">Музыканты</a>
                            </li>
                            <li class="curent-directory">
                                <a href="#">Альбомы</a>
                            </li>
                            <li>
                                <a href="#">Популярное</a>
                            </li>
                        </ul>
                    </div>

                    <div class="singup_class1">
                        <div class="singup_class">
                            <a class="singup" asp-controller="Home" asp-action="LoginPage">Войти</a>
                        </div>
                        <div class="singup_class">
                            <a class="reg" asp-controller="Home" asp-action="RegPage">Зарегестрироваться</a>
                        </div>
                        <div class="account">
                            <a href="#">

                            </a>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="main-content">
        <div class="center-main">
            <div class="news-tap">
                <div class="inside-news">
                    Пыль
                </div>
            </div>
            <div class="news-tap">
                <div class="inside-news">
                    a
                </div>
            </div>
            <div class="news-tap">
                <div class="inside-news">
                    a
                </div>
            </div>
            <div class="news-tap">
                <div class="inside-news">
                    a
                </div>
            </div>
            <div class="news-tap">
                <div class="inside-news">
                    a
                </div>
            </div>
        </div>
    </div>
</body>
